@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .headerText {
    @apply font-black h-auto text-white lg:text-[80px] sm:text-[60px] xs:text-[50px] text-[40px] text-;
  }
} */

@layer components {
  .section {
    @apply py-11 md:pt-16 lg:pt-20 px-4 sm:px-8 md:px-20 max-w-6xl mx-auto lg:min-h-[768px];
  }
  .headerText {
    @apply font-black h-auto text-white lg:text-6xl sm:text-4xl md:text-5xl text-3xl;
  }
  .icon {
  @apply text-xl text-blue-500 transition-all ease-in-out duration-700 hover:text-pink-500 hover:mt-2;

  }

}
.landingSectionTitle::before {
  content: "";
  position: absolute;
  left: 105%;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 6px;
  width: 100vw;
  @apply bg-fun-pink;
  
}

@media (max-width: 768px) {
  .landingSectionTitle::before {
    left: 50%;
    right: auto;
    top: -20px;
    transform: translate(-50%, -50%);
    height: 8px;
    width: 150px;
    color: aqua;
    
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
